h1 {
    font-family: quicksand, sans-serif;
    font-weight: bold;
}
h2 {
    font-family: quicksand, sans-serif;
    font-weight: bold;
}
body {
	font-family: sans-serif;
}
.main-section {
    padding: 10px;
    margin: 5px;
    background: #e8f4ff;
}
input {
    text-align: right;
    width: 3em;
}
input.disk-size {
    width: 5em;
}
.usage-bar {
    height: 0.6em;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: #00dd00;
}
.usage-bar.empty {
	height: 0.6em - 2px;
	border: solid 1px #00dd00;
	background: #ffffff;
}
