h1 {
    font-family: quicksand, sans-serif;
    font-weight: bold;
}
h2 {
    font-family: quicksand, sans-serif;
    font-weight: bold;
}
body {
	font-family: sans-serif;
}
.main-section {
    padding: 10px;
    margin: 5px;
    background: #e8f4ff;
}
input {
    text-align: right;
    width: 3em;
}
input.disk-size {
    width: 5em;
}
.usage-bar {
    height: 10px;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.usage-bar.empty {
	height: 8px;
	border: solid 1px #00dd00;
	background: #ffffff !important;
}
.usage-bar:nth-child(4n+1) {
	background: #00d000;
}
.usage-bar:nth-child(4n+2) {
	background: #44d844;
}
.usage-bar:nth-child(4n+3) {
	background: #88e088;
}
.usage-bar:nth-child(4n+4) {
	background: #cce8cc;
}
